-# Display a list of +@mods+.

- cache_if (params[:q].blank? && params[:page].blank? && @cache_key_for_mods_list.present?), @cache_key_for_mods_list do
  = count 'module', @mods_count

  %ul#mods
    - @mods.each do |mod|
      %li.mod_link{:data => {:mod_link => module_path(mod.owner, mod)}}
        - query_regexp = params[:q] ? /(#{params[:q]})/ : nil
        %h3= usermodrelease_links(mod, query_regexp, :search_highlight)
        = render :partial => 'mods/intro', :locals => {:mod => mod, :docs => false}

  = will_paginate @mods
