- content_for :head do
  = project_feed_link(@mod)

- if can_change?
  %ul.minimenubar
    %li= link_to "Add release", new_user_mod_release_path(@user, @mod)
    %li= link_to "Edit module", [:edit, @user, @mod]
    %li= link_to "Delete module", [@user, @mod], :method => :delete, :confirm => "Delete module '#{h @mod.name}'?"

%h2
  &= @mod.full_name

= render :partial => "mods/document", :object => @mod

- content_for :sidebar do
  -# TODO Implement Watches
  -# = render :partial => 'mods/watching'
  .section#releases
    - if can_change?
      = link_to 'Add release', new_user_mod_release_path(@user, @mod), :class => 'section-link'
    %h3 Module's releases
    - if @releases.any?
      %ul
        - @releases.each do |release|
          %li= link_to release.version, vanity_release_path(@user, @mod, release)
    - else
      %p.blank No releases have been made for this module.
