- form_for @user do |f|
  = f.error_messages
  %p
    = f.label :username
    = f.text_field :username
  %p
    = f.label :display_name, "Display Name"
    = f.text_field :display_name
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p
    = f.submit(@user.new_record? ? 'Sign up' : 'Update profile')
