%h2 Sign Up
 
- form_for @user, :url => user_path do |f|
  = f.error_messages
  %p
    = f.label :username
    = f.text_field :username
  %p
    = f.label :email
    = f.text_field :email
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p
    = f.submit 'Sign Up'