- if admin? || current_user
  %ul.minimenubar
    - if current_user == @user
      %li= link_to "Add a module", new_mod_path
    - if admin? && current_user != @user
      %li= link_to "Sign in as this user #{privilege_label}", switch_user_path(@user), :method => "post"
      %li= link_to "Edit this user #{privilege_label}", edit_user_path(@user)

%h2&= page_title

= render :partial => 'mods/list'
