<!DOCTYPE html> 
<html dir="ltr" lang="en-US"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Puppet Module Repository | Puppet Labs</title>
    <meta name="description" content="The open source leader in data center automation">
    <link rel="alternate" type="text/xml" title="Puppet Labs RSS 0.92 Feed" href="http://puppetlabs.com/feed/rss/">
    <link rel="alternate" type="application/atom+xml" title="Puppet Labs Atom Feed" href="http://puppetlabs.com/feed/atom/">
    <link rel="alternate" type="application/rss+xml" title="Puppet Labs RSS 2.0 Feed" href="http://puppetlabs.com/feed/">
    <link rel="pingback" href="http://puppetlabs.com/xmlrpc.php">

    <%#*<link rel='stylesheet' id='wp-pagenavi-css'  href='http://puppetlabs.com/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.60' type='text/css' media='all' />%>
    <%= stylesheet_link_tag "externals/pagenavi-2.60.css", :media => "all" %>

    <%#*<script type='text/javascript' src='http://puppetlabs.com/wp-includes/js/jquery/jquery.js?ver=1.3.2'></script>%>
    <%= javascript_include_tag "externals/jquery-1.3.2.js" %>
    
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://puppetlabs.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://puppetlabs.com/wp-includes/wlwmanifest.xml" />
    <link rel='index' title='Puppet Labs' href='http://puppetlabs.com' />
    <link rel='up' title='Services' href='http://overview' />
    <meta name="generator" content="WordPress 2.9.2" />

    <!-- All in One SEO Pack 1.6.10.1 by Michael Torbert of Semper Fi Web Design[129,165] -->
    <meta name="description" content="Puppet Labs provides enterprise Puppet support, training and professional services for those wanting to maximize the efficiency and scalability of their Puppet" />
    <link rel="canonical" href="http://puppetlabs.com/services/overview/" />
    <!-- /all in one seo pack -->

    <!-- AStickyPostOrderER (Version: 0.3.1) -->
    <%#*<link rel="stylesheet" href="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen">%>
    <%#*<link rel="stylesheet" type="text/css" href="http://puppetlabs.com/wp-content/themes/puppetlabs/style.css" media="screen">%>
    <%= stylesheet_link_tag "externals/jquery.fancybox-1.3.1.css", :media => "screen" %>
    <%= stylesheet_link_tag "externals/style.css", :media => "screen" %>

    <!--[if IE 7]>
      <%#*<link rel="stylesheet" type="text/css" href="http://puppetlabs.com/wp-content/themes/puppetlabs/ie_7.css" media="screen">%>
      <%= stylesheet_link_tag "externals/ie_7", :media => "screen" %>
    <![endif]-->

    <!--[if IE 8]>
      <%#*<link rel="stylesheet" type="text/css" href="http://puppetlabs.com/wp-content/themes/puppetlabs/ie_8.css" media="screen">%>
      <%= stylesheet_link_tag "externals/ie_8", :media => "screen" %>
    <![endif]-->

    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/html5.js"></script>%>
    <%= javascript_include_tag "externals/html5.js" %>

    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/jquery-1.3.1.min.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/jquery.localScroll.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/jquery.serialScroll.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/jquery.scrollTo.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/jquery.cookie.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/fancybox/jquery.fancybox-1.3.1.pack.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/jquery.validate.min.js"></script>%>
    <%= javascript_include_tag "externals/jquery.localScroll.js" %>
    <%= javascript_include_tag "externals/jquery.serialScroll.js" %>
    <%= javascript_include_tag "externals/jquery.scrollTo.js" %>
    <%= javascript_include_tag "externals/jquery.cookie.js" %>
    <%= javascript_include_tag "externals/jquery.fancybox-1.3.1.pack.js" %>
    <%= javascript_include_tag "externals/jquery.validate.min.js" %>


    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/cufon-yui.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/fonts/Klavika_400-Klavika_600.font.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/ampersands.js"></script>%>
    <%= javascript_include_tag "externals/cufon-yui.js" %>
    <%= javascript_include_tag "externals/Klavika_400-Klavika_600.font.js" %>
    <%= javascript_include_tag "externals/ampersands.js" %>

    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/drop_down.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/hide_this.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/white_papers.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/docs.js"></script>%>
    <%#*<script src="http://puppetlabs.com/wp-content/themes/puppetlabs/javascripts/fancy_zoom.js"></script>%>
    <%= javascript_include_tag "externals/drop_down.js" %>
    <%= javascript_include_tag "externals/hide_this.js" %>
    <%= javascript_include_tag "externals/white_papers.js" %>
    <%= javascript_include_tag "externals/docs.js" %>
    <%= javascript_include_tag "externals/fancy_zoom.js" %>

    <script type="text/javascript">
      Cufon.replace('h1, h2', { fontWeight: '600' });
    </script>

    <%= javascript_include_tag 'jquery.form', 'application' %>
    <%= stylesheet_link_tag 'modules' %>
    <%= yield :head %>

  </head>

  <body id="modules"" class="page page-id-783 page-child parent-pageid-780 page-template page-template-default <%= @controller.controller_name %>_controller <%= @controller.controller_name %>_<%= @controller.action_name %>_action">

    <header id="header">
      <div class="site-width">
        <h1><a href="http://puppetlabs.com/"><span>Puppet Labs</span></a></h1>
        <a class="screen-reader-content" href="#content">Skip navigation</a>
        <nav>
          <ul id="global-navigation">
            <li id="puppet-tab" class="with-submenu">
              <a href="http://puppetlabs.com/puppet/">
                <span>Puppet</span>
                <span class="drop-down-trigger"></span>
              </a>
              <ul>
                <li>
                  <ul>
                    <li class="page_item page-item-757"><a href="http://puppetlabs.com/puppet/introduction/" title="Introduction">Introduction</a></li>
                    <li class="page_item page-item-769"><a href="http://puppetlabs.com/puppet/requirements/" title="Requirements">Requirements</a></li>
                    <li class="page_item page-item-956"><a href="http://puppetlabs.com/puppet/solutions/" title="Solutions">Solutions</a></li>
                    <li class="page_item page-item-1159"><a href="http://puppetlabs.com/puppet/users/" title="Users">Users</a></li>
                    <li class="page_item page-item-1074"><a href="http://puppetlabs.com/resources/white-papers" title="White Papers">White Papers</a></li>
                    <li class="page_item page-item-1495"><a href="http://puppetlabs.com/resources/case-studies" title="Case Studies">Case Studies</a></li>
                    <li class="page_item page-item-1044"><a href="http://puppetlabs.com/resources/downloads" title="Downloads">Downloads</a></li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="page_item page-item-751"><a href="http://puppetlabs.com/puppet/related-projects/dashboard/" title="Dashboard">Dashboard</a></li>
                    <li class="page_item page-item-753"><a href="http://puppetlabs.com/puppet/related-projects/facter/" title="Facter">Facter</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="services-tab" class="with-submenu">
              <a href="http://puppetlabs.com/services/">
                <span>Services</span>
                <span class="drop-down-trigger"></span>
              </a>
              <ul>
                <li class="page_item page-item-783 current_page_item"><a href="http://puppetlabs.com/services/overview/" title="Overview">Overview</a></li>
                <li class="page_item page-item-839"><a href="http://puppetlabs.com/services/support/" title="Enterprise Support">Enterprise Support</a></li>
                <li class="page_item page-item-845"><a href="http://puppetlabs.com/services/training-workshops/" title="On-Site Training &amp; Consulting">On-Site Training &amp; Consulting</a></li>
                <li class="page_item page-item-849"><a href="http://puppetlabs.com/category/events/upcoming/" title="Events &amp; Public Training">Events &amp; Public Training</a></li>
                <li class="page_item page-item-851"><a href="http://puppetlabs.com/services/partners/" title="Partners">Partners</a></li>
                <li class="page_item page-item-1037"><a href="http://puppetlabs.com/resources/customer-support" title="Customer Support">Customer Support</a></li>
              </ul>
            </li>
            <li id="resources-tab" class="with-submenu">
              <a href="http://puppetlabs.com/resources/">
                <span>Resources</span>
                <span class="drop-down-trigger"></span>
              </a>
              <ul>
                <li class="page_item page-item-1048"><a href="http://puppetlabs.com/resources/overview-2/" title="Overview">Overview</a></li>
                <li class="page_item page-item-1040"><a href="http://puppet-docs.designerandrew.com" title="Documentation">Documentation</a></li>
                <li class="page_item page-item-872"><a href="http://puppetlabs.com/resources/downloads/" title="Downloads">Downloads</a></li>
                <li class="page_item page-item-835"><a href="http://puppetlabs.com/resources/white-papers/" title="White Papers">White Papers</a></li>
                <li class="page_item page-item-833"><a href="http://puppetlabs.com/resources/case-studies/" title="Case Studies">Case Studies</a></li>
                <li class="page_item page-item-1052"><a href="http://puppetlabs.com/resources/customer-support/" title="Customer Support">Customer Support</a></li>
              </ul>

            </li>
            <li id="community-tab">
              <a href="http://puppetlabs.com/community/">
                <span>Community</span>
              </a>
            </li>

            <li id="company-tab" class="with-submenu">
              <a href="http://puppetlabs.com/company/">
                <span>Company</span>
                <span class="drop-down-trigger"></span>
              </a>
              <ul>
                <li><a href="http://puppetlabs.com/company/">About Us</a></li>
                <li><a href="http://puppetlabs.com/company/#contact">Contact Us</a></li>
              </ul>
            </li>
          </ul>
          <ul id="misc-navigation">
            <li><a href="http://docs.puppetlabs.com">Documentation</a></li>
            <li><a href="http://puppetlabs.com/resources/customer-support/">Support</a></li>
            <li><a href="http://puppetlabs.com/company/#contact">Contact Us</a></li>
            <li><a href="http://puppetlabs.com/resources/downloads" class="gateway">Download</a></li>
          </ul>
        </nav>
      </div>
    </header>
