%div#session-navigation
  - if current_user
    %p
      Welcome,
      = link_to(current_user.display_name, [:edit, current_user])
      = surround '(', ')' do
        = link_to("Sign Out", destroy_user_session_path)
    %ul
      -# TODO Implement TimelineEvents
      -# %li= link_to("Activity", user_timeline_events_path(current_user))
      %li= link_to("Your Modules", current_user)
  - else
    %ul
      %li= link_to("Sign in", new_user_session_path)
      - if privileged?
        - if user = User.admins.first
          %li= link_to("Sign in as an admin (DEV)", switch_user_path(user), :method => "post")
        - if user = User.nonadmins.first
          %li= link_to("Sign in as a user (DEV)", switch_user_path(user), :method => "post")
      %li= link_to("Register", new_user_path)
