%h2
  - if @category.present?
    Modules for
    &= @category
  - elsif @tag.present?
    Modules tagged
    = surround "&ldquo;", "&rdquo;" do
      &= @tag.name
  - else
    No modules tagged &ldquo;#{h @tag_name}&rdquo;

- if @category || @tag
  = render :partial => 'mods/list'
