%section#metadata

  %h3 Dependencies
  - if @release.metadata['dependencies'].blank?
    %p.blank No dependencies on other modules.
  - else
    %ul
      - @release.metadata['dependencies'].each do |dep|
        %li
          %b= link_to_dependency dep
          - if dep['version_requirement']
            = surround '(', ')' do
              = dep['version_requirement']
  
  %h3 Types

  - if @release.metadata.blank?
    %p.blank No type information provided.
  - else
    %p.introduction
      This module provides
      = succeed '.' do
        = pluralize @release.metadata['types'].size, 'resource type'
    - @release.metadata['types'].each do |type|
      %h4= type['name']
      = type['doc'].split(/\n{2,}/).map { |t| "<p class='introduction'>#{t}</p>" }
      %h5 Parameters
      - if !type['parameters'].blank?
        %ul
          - type['parameters'].each do |param|
            %li
              = label_doc param
      %h5 Properties
      - if !type['properties'].blank?
        %ul
          - type['properties'].each do |prop|
            %li
              = label_doc prop
      %h5 Providers
      - if !type['providers'].blank?
        %ul
          - type['providers'].each do |provider|
            %li
              = label_doc provider

