- if can_change?
  %ul.minimenubar
    %li= link_to "Delete release", [@user, @mod, @release], :method => :delete, :confirm => "Delete release '#{h @mod.name}'?"

%h2
  = succeed ':' do
    = link_to @mod.full_name, module_path(@mod.owner, @mod)
  = @release.version

= render :partial => "mods/document", :object => (@release || @mod)

