- if can_change?
  %ul.minimenubar
    %li= link_to "Delete release", [@user, @mod, @release], :method => :delete, :confirm => "Delete release '#{h @mod.name}'?"

%h2
  Module
  = usermodrelease_links @release

- cache "releases-show_#{@mod.id}-document" do
  = render :partial => "mods/document", :object => (@release || @mod)
