%h2
  = succeed ':' do
    = link_to @mod.full_name, module_path(@mod.owner, @mod)
  = @release.version

- unless @release.notes.blank?
  %p.introduction= @release.notes

%p.download= link_to @release.file_file_name, @release.file.url