!!!
%html
  %head
    %title Puppet "Forge"
    = stylesheet_link_tag 'screen', :media => 'screen, projection'
  %body
    #puppet-forge
      #header
        .site-width
          %h1= link_to "Puppet 'Forge'", root_path
          %ul#global-navigation.navigation
            %li= tab_to_unless_current "Home", root_path
            %li= tab_to_unless_current "Modules", modules_path
          %ul#secondary-navigation.navigation
            - unless user
              %li= link_to "Register", new_user_path
              %li= link_to "Log In", new_session_path
            - else
              %li= link_to "My Account", user
              %li= link_to "Logout", session_path, :method => :delete
          
      #content
        .site-width
          - flash.each do |k, v|
            #flash{ :class => k }= v
          = yield
      #footer
        .site-width
          %p &copy; Copyright 2009 Reductive Labs