= render :partial => 'shared/header'

%section#masthead
  .site-width
    %h1 
      Puppet Modules
    -# TODO Remove version when this leaves beta:
    %span.version
      PuppetForge
      = precede 'r' do
        = ApplicationController::VERSION

%section#content
  .site-width
    .primary-secondary-content
      .primary-content
        -# Uncomment following line to add sample notification messages
        -# - flash[:error] = "An error message!"; flash[:success] = "A success message."; flash[:unknown] = "An unknown message."
        - unless flash.empty?
          - flash.each do |name, value|
            %div{ :class => [name, "#{name}_notification", "notification"] }
              %p= value
        = yield
      .secondary-content
        = render :partial => 'shared/session'
        .section#search
          %h3 Search Modules
          - form_tag mods_path, :method => 'get' do
            = text_field_tag :q, params[:q], :id => 'search'
        = yield :sidebar
        = render 'shared/category_list'
        .section#tags
          %h3 Popular Tags
          - tag_cloud(Mod.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| 
            = link_to tag.name, tag, :class => css_class

= render :partial => 'shared/footer'
